<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-input class="ion-margin-horizontal" slot="start" placeholder="Buscar por descripción..." (ionChange)="search($event)"
      clearInput>
    </ion-input>
    <ion-buttons slot="end">
      <ion-button size="small" (click)="filterDate()">
        <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      </ion-button>
      <ion-button size="small" (click)="add()" *ngIf="activeTab !== 0">
        <ion-icon aria-hidden="true" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="ion-text-center">
    <ion-button *ngFor="let subTab of subTabs; let i = index" [fill]="activeTab === i ? 'solid' : 'clear'"
      (click)="toggleTab(subTab)" [ngClass]="{'single-tab': subTabs.length === 1, 'multiple-tabs': subTabs.length > 1}">
      {{ subTab }}
    </ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="0">
      <app-card-tax></app-card-tax>
    </div>
    <div *ngSwitchCase="1">
      <app-card-maintenance></app-card-maintenance>
    </div>
    <div *ngSwitchCase="2">
      <app-card-tank></app-card-tank>
    </div>
  </div>
</ion-content>