<ion-header [translucent]="true">
  <div class="ion-text-center">
    <ion-button 
      *ngFor="let subTab of subTabs; let i = index" 
      [fill]="activeTab === i ? 'solid' : 'clear'"
      (click)="toggleTab(subTab)" 
      [ngClass]="{'single-tab': subTabs.length === 1, 'multiple-tabs': subTabs.length > 1}">
      {{ subTab }}
    </ion-button>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="0">
      <app-card-tax></app-card-tax>
    </div>
    <div *ngSwitchCase="1">
      <!-- Contenido futuro para mantenimientos -->
    </div>
    <div *ngSwitchCase="2">
      <!-- Contenido futuro para tanqueos -->
    </div>
  </div>
</ion-content>