<div class="overlay" *ngIf="isOverlayActive"></div>

<!-- Panel de notificaciones -->
<app-notification-panel></app-notification-panel>

<ion-card *ngFor="let maintenance of maintenances">
  <ion-card-header>
    <ion-card-title class="ion-no-padding">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col class="ion-text-start">
            <ion-text>{{maintenance.date}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding ion-padding-start">
    <ion-text>{{maintenance.maintenance_description}}</ion-text>
    <ion-grid color="success">
      <ion-row>
        <ion-col>
          <ion-text>Kilometraje</ion-text>
        </ion-col>

        <ion-col>
          <ion-text>Valor</ion-text>
        </ion-col>

        <ion-col>
          <ion-text>Vehículo</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text>{{maintenance.mileage}}</ion-text>
        </ion-col>

        <ion-col>
          <ion-text color="danger">$ {{maintenance.paid|number: '1.0-0'}}</ion-text>
        </ion-col>

        <ion-col>
          <ion-text>{{maintenance.plate}}</ion-text>
        </ion-col>

      </ion-row>
    </ion-grid>

  </ion-card-content>
  <div>
    <ion-button (click)="edit($event, maintenance.maintenance_id)" fill="clear"
      [disabled]="isEditDisabled">Editar</ion-button>
    <ion-button fill="clear" id="open-toast" (click)="delete($event, maintenance.maintenance_id)"
      [disabled]="isDeleteDisabled">Eliminar</ion-button>
  </div>

</ion-card>