<ion-header>
  <ion-toolbar>
    <ion-input
      class="ion-margin-horizontal"
      slot="start"
      placeholder="Buscar rutas..."
      (ionChange)="search($event)"
      clearInput>
    </ion-input>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="subtabs" style="display: flex">
    <ion-button
      *ngFor="let route of routesName"
      [fill]="activeRoutes.includes(route) ? 'solid' : 'clear'"
      (click)="toggleRoute(route)"
      [ngClass]="{'single-route': routesName.length === 1, 'multiple-routes': routesName.length > 1}">
      {{ route }}
    </ion-button>
  </div>

  <div id="container">
    <ion-card *ngFor="let route of filteredRoutes">
      <ion-card-header>
        <ion-card-title class="ion-no-padding">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-text-start">
                <ion-text>{{route.referral_type}} - {{route.referral_id}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-no-padding ion-padding-start">
        <ion-text class="ion-text-nowrap">{{route.client_name}}</ion-text>
      </ion-card-content>
      <ion-button (click)="observation($event, route.movement_id)" fill="clear">Observación</ion-button>
      <ion-button fill="clear" id="open-toast" (click)="check($event, route.movement_id)">Entregado</ion-button>
   
