.single-route {
    width: 100%;  // El botón ocupa todo el ancho si hay una sola ruta
  }
  
  .multiple-routes {
    width: 100%;  // El botón es pequeño si hay más de una ruta
    margin: 8px;  // Añade algo de espacio entre los botones
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
    z-index: 1000;
    touch-action: none;
    pointer-events: all;
  }
  