<ion-content class="ion-padding">
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="outcomeForm">
        <ion-list>
            <ion-item>
                <ion-input label="Fecha" type="date" formControlName="movement_date"></ion-input>
            </ion-item>

            <ion-item>
                <ion-textarea label="Detalles" placeholder="(No obligatorio)" formControlName="details"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-input label="Valor" type="number" placeholder="Ingrese el gasto" formControlName="outcome"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select label="Categoría" placeholder="" value="3" formControlName="category_id">
                    <ion-select-option value="3">Gastos</ion-select-option>
                    <ion-select-option value="24">Compras</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-button (click)="onSubmit()">{{ isEditMode ? 'Actualizar gasto' : 'Agregar gasto'
                    }}</ion-button>
            </ion-item>

        </ion-list>

    </form>

</ion-content>