<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-end">NOMBRE USUARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="outcome" href="/tabs/outcome">
        <ion-icon aria-hidden="true" name="receipt"></ion-icon>
        <ion-label>Gastos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="income" href="/tabs/income">
        <ion-icon aria-hidden="true" name="log-in"></ion-icon>
        <ion-label>Recaudos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="allowance" href="/tabs/allowance">
        <ion-icon aria-hidden="true" name="cash"></ion-icon>
        <ion-label>Viáticos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>