<ion-content class="ion-padding">
    <form action="" (ngSubmit)="onSubmit()" [formGroup]="incomeForm">
        <ion-list>
            <ion-item>
                <ion-input label="Fecha" type="date" formControlName="movement_date"></ion-input>
            </ion-item>

            <ion-item class="custom-select-item" style="position: static;">
                <div style="width: 100%; position: static;">
                    <ng-select
                        [items]="clients"
                        bindLabel="client_name"
                        placeholder="Buscar cliente "
                        formControlName="selectedClient"
                        [searchable]="true"
                        [clearable]="true">
                    </ng-select>
                </div>
            </ion-item>

            <ion-item>
                <ion-input label="# Recibo" type="text" placeholder="Número de recibo" formControlName="receiptNumber"></ion-input>
            </ion-item>

            <ion-item>
                <ion-textarea label="Detalles" placeholder="Opcional*" formControlName="additionalDetails"></ion-textarea>
            </ion-item>

            <ion-item>
                <ion-input label="Valor" type="number" placeholder="Ingrese el dinero" formControlName="income"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select label="Categoría" placeholder="" value="29" formControlName="category_id">
                    <ion-select-option value="29">Recaudos</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-button (click)="onSubmit()">{{ isEditMode ? 'Actualizar Ingreso' : 'Agregar Ingreso' }}</ion-button>
            </ion-item>
        </ion-list>
    </form>
</ion-content>