<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" [formGroup]="tankForm">
    <ion-list>
      <ion-item>
        <ion-select label="Vehiculo" placeholder="Placa" formControlName="plate">
          <ion-select-option *ngFor="let vehicle of vehicles" [value]="vehicle.plate">
            {{vehicle.plate}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Fecha" type="date" formControlName="date"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea label="Descripcion" placeholder="(No obligatorio)" formControlName="tank_description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input label="Kilometraje" type="number" placeholder="Ej: 6000km" formControlName="mileage"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Valor" type="number" placeholder="Costo del tanqueo" formControlName="paid"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-button expand="block" (click)="selectImageSource()" type="button">
          <ion-icon name="image-outline" slot="start"></ion-icon>
          Seleccionar Foto
        </ion-button>
      </ion-item>

      <!-- Vista previa de la imagen -->
      <ion-item lines="none" *ngIf="selectedImage" class="ion-margin-top">
        <div class="selected-image">
          <img [src]="selectedImage" alt="Foto seleccionada">
        </div>
      </ion-item>

      <ion-item lines="none" class="ion-margin-top">
        <ion-button expand="block" (click)="onSubmit()">
          {{ isEditMode ? 'Actualizar tanqueo' : 'Agregar tanqueo' }}
        </ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>