.selected-image {
    width: 100%;
    margin: 10px 0;
  
    img {
      width: 100%;
      max-height: 200px;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid var(--ion-color-medium);
    }
  }
  
  ion-fab-button {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  ion-button {
    width: 100%;
  }