<ion-header>
  <ion-toolbar>
    <ion-input class="ion-margin-horizontal" slot="start" placeholder="Buscar viáticos..." (ionChange)="search($event)" clearInput></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <ion-card *ngFor="let movement of filteredMovements">
      <ion-card-header>
        <ion-card-title class="ion-no-padding">
          <ion-grid class="ion-no-padding">
            <ion-row class="ion-no-padding">
              <ion-col class="ion-text-start">
                <ion-text>{{movement.movement_date}}</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-no-padding ion-padding-start">
        <ion-text  class="ion-text-nowrap">{{movement.details}}</ion-text>
        <ion-grid color="success">
          <ion-row>
            <ion-col>
              <ion-text>Recibido</ion-text>
            </ion-col>

            <ion-col>
              <ion-text>Reportado</ion-text>
            </ion-col>

            <ion-col>
              <ion-text>Balance</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-text color="success">$ {{movement.debit|number: '1.0-0'}}</ion-text>
            </ion-col>

            <ion-col>
              <ion-text color="danger">$ {{movement.credit|number: '1.0-0'}}</ion-text>
            </ion-col>

            <ion-col>
              <ion-text color="{{movement.balance < 0 ? 'danger' : 'success'}}">$ {{movement.balance|number: '1.0-0'}}</ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>